@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  @apply max-h-full;
}

h1,
h2,
h3 {
  @apply font-open;
  @apply text-text-DARK;
  @apply text-xl;
  @apply sm:text-3xl;
}

div,
p,
a,
button,
span,
ul,
li {
  @apply font-josefin;
  @apply text-text-DARK;
  @apply font-light;
  @apply sm:text-xl;
}

.defaultPaddings {
  @apply p-4;
  @apply sm:px-8;
  @apply sm:py-6;
  @apply md:px-6;
  @apply xl:px-0;
}
